<% @file_uploads.each do |file_upload| %>
  <tr>
		<td><%= link_to file_upload.name, [@hub, @group, file_upload] %></td>
    <td></td>
    <td><%= link_to 'Edit', edit_hub_group_file_upload_path(@hub, @group, file_upload), :class => 'btn' %></td>
    <td><%= link_to 'Destroy', [@hub, @group, file_upload], :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger' %></td>
  </tr>
<% end %>