<h1>Listing file_uploads</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @file_uploads.each do |file_upload| %>
  <tr>
    <td><%= link_to 'Show', file_upload %></td>
    <td><%= link_to 'Edit', edit_file_upload_path(file_upload) %></td>
    <td><%= link_to 'Destroy', file_upload, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New File upload', new_file_upload_path %>
