
<p><%= link_to @file_upload.name, @file_upload.upload.url %></p>

<%= link_to 'Edit', edit_hub_group_file_upload_path(@hub, @group, @file_upload) %> |
<%= link_to 'Back', hub_group_file_uploads_path %>
