<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>
<p>
  <b>Telephone:</b>
  <%= @contact.telephone %>
</p>

<%= link_to 'Edit', edit_user_hub_contact_path(@contact) %> |
<%= link_to 'Back', user_hub_contacts_path %>
