/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_directory .
 *= require twitter/bootstrap
 */

table.table td {
	vertical-align: middle;
}

.navbar .nav li.pull-right {
    float: right;
}

.navbar .nav li.pull-left {
    float: left;
}

#container #main .row.well {
  width: 900px;
  margin-left: 0px;
}